/* 탭 제목 src/pages/MoviesPage.jsx */
.moviesWrap {background:#fff;}
.moviesWrap > * {width:1100px; margin:0 auto;}
.moviesWrap .path_bg {background:#ebebeb; width:100%;}
.moviesWrap .path_bg .path {width:1100px; margin:0 auto; font-size:0.85rem; line-height:40px;}
.moviesWrap .path_bg .path span {padding-right:5px; color:#aaa;}
.moviesWrap .path_bg .path a {padding:0 5px; color:#222;}
.moviesWrap h1 {font-size:1.86rem; padding:26px 0; letter-spacing: -1px; font-weight:600;}
.moviesWrap .tabMenu {display:flex; position:relative;}
.moviesWrap .tabMenu li {flex:1; border:1px solid #ebebeb; border-width:1px 0 1px 1px;}
.moviesWrap .tabMenu li a {line-height:40px; display:block; text-align: center; letter-spacing: -0.5px; color:#555;}
.moviesWrap .tabMenu li.active {border:1px solid #503396; border-bottom:0;}
.moviesWrap .tabMenu li.active::after {content:''; display:block; position:absolute; left:0; bottom:0; background:#503396; height:1px; width:100%;}
.moviesWrap .tabMenu li.active a {color:#503396; position:relative;}
.moviesWrap .tabMenu li.active a::after {content:''; display:block; position:absolute; bottom:-1px; background:#fff; height:1px; width:100%; z-index:100;}
.moviesWrap .container {}